<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/fingerpost.css">
</head>
<body>
    <!-- 超省钱指南 -->
    <!-- 头部 -->
    <header>
        <div class="title">
            <p><img src="../images/header-log.png" alt=""></p>
            <div class="search">
                <input type="text" placeholder="购物前，先隐藏好券">
            </div>
            <ul>
                <li>堆糖手机版</li>
                <li>
                    <a href="./index.html" style="color: white;text-decoration: none;">堆糖主页</a>
                </li>
                <li>
                    <p class="p-first"></p>
                    <p class="p-second">Gc-Dear</p>
                </li>
            </ul>
        </div>
    </header>
    <!-- 内容区 -->
    <section>
        <!-- 搜索框 -->
        <div class="c-search">
            <input type="text" placeholder="淘宝购物前，先隐藏好购物券">
            <div class="ticket">搜券</div>
        </div>
        <!-- 分类区 -->
        <div class="classify">
            <div class="c-left">
                <ul>
                    <li>美妆</li>
                    <li>护肤</li>
                    <li>美食</li>
                    <li>个护</li>
                    <li>女鞋</li>
                    <li>配饰</li>
                    <li>居家</li>
                    <li>内衣</li>
                    <li>箱包</li>
                    <li>文具</li>
                </ul>
            </div>
            <div class="c-right">
                <div class="box"></div>
            </div>
        </div>
        <!-- 推荐区 -->
        <div class="recommend">
            <div class="recommend-l">
                <h3>省钱达人说</h3>
                <div class="content">
                    <span class="one-pic"></span>
                    <div class="two-describe">
                        <h1>备战双十一，红包多多，抽奖不停！</h1>
                        <div class="collect">
                            <span>1132</span>
                            <span>3</span>
                        </div>
                    </div>
                    <span class="two-pic"></span>
                    <div class="three-describe">
                        <h1>备战双十一，红包多多，抽奖不停！</h1>
                        <div class="collect">
                            <span>1132</span>
                            <span>3</span>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <div class="recommend-r">
                <div class="hot">热门搜索</div>
            </div>
        </div>
        <!-- 精选好券 -->
        <div class="choiceness">
            <div class="crown"></div>
            <div>
                <h5>精选好券</h5>
                <p>每天更新精选淘宝隐藏优惠券</p>
            </div>
        </div>
        <!-- 选择区 -->
        <div class="choose">
            <div>
                <p></p>
                <span>啊哦，你想要的东西暂时没有好券</span>
            </div>
        </div>
    </section>
    <!-- 尾部 -->
    <footer>
        <!-- 内容区 -->
        <div class="main">
            <div class="outer">
                 <!-- 二维码区域 -->
                <div class="QR">
                    <div>
                        <h5>APP下载</h5>
                        <span><img src="../images/20190320123039_Ey8sc.png" alt=""></span>
                        <p class="p1">扫描二维码</p>
                        <p class="p2">下载堆糖手机客户端</p>
                    </div>
                </div>
                <div class="one">
                    <p>关于我们</p>
                    <ul>
                        <li>关于我们</li>
                        <li>加入我们</li>
                        <li>联系我们</li>
                        <li>商务合作</li>
                    </ul>
                </div>
                <div class="two">
                    <p>关注我们</p>
                    <ul>
                        <li>新浪微博</li>
                        <li>微信公众号</li>
                    </ul>
                </div>
                <div class="three">
                    <p>友情链接</p>
                    <ul>
                        <li>爱物网</li>
                        <li>东方女性网</li>
                        <li>肉丁网</li>
                        <li>更多...</li>
                    </ul>
                </div>
            </div>
            <div class="inter">
                <div class="div-one">
                    <span>©2019 duitang.com 版权所有。</span>
                    <a href="http://www.miitbeian.gov.cn" target="_blank">沪ICP备10038086号-3</a>
                    <a class="a1" target="_blank" href="http://www.zx110.org/"></a>
                    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010102002072" class="a2" target="_blank"></a>
                    <span class="span-one">增值电信业务经营许可证：沪B2-20180610<a target="_blank" href="https://www.duitang.com/business/entity/">自营经营者信息</a></span>
                </div>
                <div class="div-two">
                    <a class="a3" href="http://www.shjbzx.cn" target="_blank"><i></i>上海市互联网违法和不良信息举报中心</a>
                    <span class="span-two">有害内容举报电话：021-63462282</span>
                </div>
            </div>
        </div>
    </footer>
    <!-- 右侧二维码 -->
    <div class="fixed">
        <div></div>
        <p>扫一扫下载堆糖App</p>
        <p>去值呀频道免费领取优惠券</p>
    </div>
    <!-- 返回顶部 -->
    <div class="top"></div>

    <script src="../public/jquery.js"></script>
    <script src="../js/fingerpost.js"></script>

</body>
</html>